

.center{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5rem;
}

.login-card{
    /* background-color: rgb(250, 249, 246); */
    border: 1px solid;
    border-radius: 0.4rem;
}

mat-form-field{
width: 100%;
}