
<div class="center">


<mat-tab-group mat-align-tabs="center" style="border:1px solid;background: rgb(235, 247, 241);border-radius: 0.7rem;">
    <mat-tab label="Login">
        <mat-card class="login-card">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" >
                    <mat-error *ngIf="allControls?.email?.errors?.email&&submit">Invalid Email</mat-error>
                    <mat-error *ngIf="allControls?.email?.errors?.required&&submit">Email required</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" [type]="hide?'password':'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="allControls?.password?.errors?.required&&submit">password required</mat-error>
                    <mat-error *ngIf="allControls?.password?.errors?.minLength&&submit">min length required</mat-error>
                  </mat-form-field>
                  <div style="text-align: center;">
                  <button mat-raised-button color="primary" style="text-align:center">Login</button>
                </div>
                </form>

            
          </mat-card>



    </mat-tab>

    <mat-tab label="SignUp">Content 2</mat-tab>
  </mat-tab-group>
</div>