
<div class="center">


<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Login">
        <mat-card class="login-card">
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                
                  </mat-form-field>
                  <div style="text-align: center;">
                  <button mat-raised-button color="primary" style="text-align:center">Login</button>
                </div>
                </form>

            
          </mat-card>



    </mat-tab>

    <!-- signup -->
    <mat-tab label="SignUp">Content 2</mat-tab>
  </mat-tab-group>
</div>